
/* new year party Celebration */

.conteiner{
    height: auto;
    position: relative;
}

.conteiner img{
    width: auto;
    padding: 70px;
}

.banner-text h4{
    position: absolute;
    color: #FFFFFF;
    top: 40%;
    left: 35%;
    font-weight: 600;
    font-size: 25px;
}

.banner-text h1{
     position: absolute;
     color: #FFFFFF;
     top: 43%;
     left: 33%;
     font-weight: 600;
     font-size: 60px;  
}

.offer{
    height: auto;
    position: relative;
}
.offer h1{
    position: absolute;
    color: red;
    font-size: 80px;
    font-weight: bold;
    padding:;
}

.offer p{
    position: absolute;
    color: red;
}

.offer h2{
    position: absolute;
    color: black;
}

.offer img{
    position: relative;
    padding: 350px;
}